body {
	font-family: 'Montserrat', sans-serif;
	}
	
.bg-sec{
	position: relative;
	min-height: 500px;
	color: white;

	}
	
.bg-sec-2{
	position: relative;
	min-height: 400px;
	color: white;

	}
	
	
.background{
	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-image: url('manrail.jpg');
  	background-size: cover;
  	background-position: center 30%;
  	filter: brightness(30%);
  	z-index: -1;
  	}
  	
.background2{
	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-image: url('bus.jpg'),url('boat.jpg'),url('busyellow.jpg'),url('yatch.jpg');
  	background-color:black;
  	background-size: 25% 300px,25% 300px,25% 300px,35% 300px;
  	background-repeat : no-repeat;
  	background-position: 0% 0px, 33% 0px, 65% 0px, 100% 0px;
  	filter: brightness(30%);
  	z-index: -1;
	}


	
	
.mt{
	margin-top:10%;
	} 
	
.sep-bar{
	background-color: black;
	height:200px;
	}
	
.sep-bar-2{
	background-color: black;
	height:200px;
	}
	
.down-link{
	height: 62.5px;
	width: 161.5px;
	}

.mtp{
	margin-top: 15px;
	}
	
.down-link2{
	height:94px;
	width: 258.3px;
	}
	
.navbar .navbar-nav .nav-link {
  position:relative;
  color: #000000;
  font-size: 1.1em;
  position: relative;
}
.navbar .navbar-nav .nav-link:hover {
  color: #F7444E;
}
.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #F7444E;
  color: transparent;
  width: 0%;
  content: '.';
  height: 3px;
  transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}

.bg-sec-3{
	background-color: black;
	height: 500px;
	color:white;
	}
hr{
	width:20%;
	color:#F7444E;
	background-color:#F7444E;
	height:5px;
	}
	
.pic1{
	height:500px;
	width:334px;
	}
	
.mto{
	margin-top:30px;
	}
.bg-sec-4{
	background-color: black;
	height: 550px;
	color:white;
	}
.pic2{
	height:500px;
	width:748px;
	}
.pic3{
	height:500px;
	width:400px;
	}
.logo{
	position:absolute;
	left:83px;
	bottom:15px;
	width:13px;
	height:15px;
	margin-bottom:25px;
	margin-right:15px;
	}
	
	
