body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden; 
	}
	
.nav-link{
	font-family: 'Open Sans';
	font-weight:600;
	font-size:10px;
	}
	
.navbrand{
	color:white;
	margin-left:7vw;
	margin-bottom:1.2vh;
	}
	
.navbar{
	background-color: black;
	border-color: black;
	color:white;
	height:8vh;
	}
	
.logo-nav{
	height:31.2px;
	width:84px;
	margin-left:7vw;
	margin-bottom:1.2vh;
	}
	
.navbar .navbar-nav .nav-link {
 	position:relative;
	color: white;
	font-size: 1.1em;
	}
.navbar .navbar-nav .nav-link:hover {
	color: white;
	}
	
.navbar .navbar-nav .nav-link::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #F7444E;
	color: transparent;
	width: 0%;
 	content: '.';
	height: 3px;
	transition: all 0.5s;
	}
.navbar .navbar-nav .nav-link:hover::after {
	width: 50%;
	}
	
.navbar-nav > li{
	margin-left:50px;
	margin-right:7vw;
}

.showcase{
	margin-left:7vw;
	margin-top:20vh;
	}
	
.background{
	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-image: linear-gradient(90.48deg, rgba(0, 0, 0, 0.88) 1.36%, rgba(76, 28, 28, 0.513333) 54.56%, rgba(182, 67, 67, 0) 129.04%), url('./images/manrail.png');
  	background-size: 120%;
  	background-repeat: no-repeat;
  	z-index: -1;
  	}
  	
.bg-sec{
	position: relative;
	height: 92vh;
	color: white;
	line-height:2rem;

	}
	
#showcaseheading{
	line-height:4rem;
	font-weight:700;
	}
	
.font{
	margin-top:3vh;
	font-family: 'Open Sans';
	}
	
.showcase-container{
	margin-left:0;
	margin-right:0;
	}
	
.download-links{
	border-radius:15px;
	}
	
.sep-bar-whyridewithus{
	background-color: black;
	height:200px;
	}
	
.content-sec{
	position:relative;
	background-color: black;
	min-height: 500px;
	color:white;
	}
	
.pic-phone{
	margin-left:7vw;
	padding-right:7vw;
	}
	
hr{
	width:20%;
	color:#F7444E;
	background-color:#F7444E;
	height:5px;
	}
	
.content-box{
	margin-left:100px;
	}
	
  
.pic-peace{
	margin-left:3vw;
	margin-right:7vw;
	padding-right:7vw;
	}
	
.img-row{
	position: relative;
	min-height: 400px;
	color: white;
	}
	
.background02{
	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-image: url('./images/bus1.png'),url('./images/boat1.png'),url('./images/busyellow1.png'),url('./images/yatch1.png');
  	background-color:black;
  	background-size: 25% 300px,25% 300px,25% 300px,35% 300px;
  	background-repeat : no-repeat;
  	background-position: 0% 0px, 33% 0px, 65% 0px, 100% 0px;
  	filter: brightness(30%);
  	z-index: -1;
	}

.partner-bar{
	background-color: black;
	height:200px;
	}
	
.metrologo{
	height:110px;
	width:200px;
	}
	
.bg-end{
	height:25vh;
	background-color:black;
	}
	
.footer{
	min-height:300px;
	background-color:black;
	color:white;
	}
	
.logofoot{
	height:93.6px;
	width:252px;
	margin-top:3vh;
	}
	
a{
	color:#474747;
	}
	
.inform{
	line-height:2rem;
	}
	
.social{
	height:20px;
	width:20px;
	margin-right:20px;
	}	
	
.para{
	line-height:44px;
	}
	
@media only screen and (max-width:760px) {
.bg-sec{
	position: relative;
	min-height: 700px;
	color: white;
	line-height:2rem;

	}
.background{
	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-image: linear-gradient(90.48deg, rgba(0, 0, 0, 0.88) 1.36%, rgba(76, 28, 28, 0.513333) 54.56%, rgba(182, 67, 67, 0) 129.04%), url('./images/manrail.png');
  	background-size: auto;
  	background-position:center;
  	background-repeat: no-repeat;
  	z-index: -1;
  	}
body {
	width: 100%;
     margin:0;
     padding:0;
    overflow-x:hidden;
	}
	
html{	
	font-family: 'Montserrat', sans-serif;
	width: 100%;
     margin:0;
     padding:0;
    overflow-x:hidden;
    }
}

.bottomend{
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 13px;
	letter-spacing: 0em;
	text-align: center;
	}
	
.pic3{
	margin-left:7vw;
	padding-right:7vw;
	margin-right:7vw;
	}
	
@media only screen and (max-width:400px) {
.navbar{
	height:100px
	}
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
